body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    flex: 1;
}

/* Need to rethink the structure of website */

.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    gap: 50px;
}

.header {
    display: flex;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.middle {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}

.middle .txt {
    color: #e5e7eb;
}

.about {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.img1 {
    width: 500px;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle .button {

}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9f8fa;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.imgs {
    display: flex;
}

.img2 {
    width: 150px;
    height: 100px;
    border-color: #3882f6;
    border-radius: 20px;
    border-style: solid;
}

.quote {
    background-color: #e5e7eb;
    flex: 1;
}

.qtxt {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.button {
    background-color: #3882f6;
    color: #ffff;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    border-style: none;
    font-weight: 800;
}

.action {
    background-color: #3882f6;
    border-radius: 10px;
    color: #ffff;
    flex: 1;
}

.footer {
    background-color: #1f2937;
    color: #ffff;
    flex: 1;
}