body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 10px;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.middle {
    display: flex;
    
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9f8fa;
}

.info {
    display: flex;
    flex-direction: column; 
}

.header2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.imgs {
    display: flex;
}

.quote {
    background-color: #e5e7eb;
}

.qtxt {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.button {
    background-color: #3882f6;
    color: #ffff;
    border-radius: 10px;

}

.action {
    background-color: #3882f6;
    border-radius: 10px;
    color: #ffff;
}

.footer {
    background-color: #1f2937;
    color: #ffff;
}